body {
  background-color: cornflowerblue;
  color: black;
}

img {
  max-width: 300px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#projectsPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.project {
  background-color: whitesmoke;
  justify-content: space-between;
  border: 1px solid black;
  text-align: center;
  padding: 0;
  width: 30%;
}

.project h3 {
  background: slategray;
  margin-top: 0;
  margin-bottom: 10px;
}
