@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../javascripts//components/navbar/navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-color: cornflowerblue;
  font-family: 'Roboto Slab';
}

.page-footer {
  font-size: 12pt;
  margin-top: 25px;
  padding: 20px;
  text-align: center;
}
