@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "./colors";
@import '../javascripts//components/navbar/navbar.scss';
@import "../javascripts/components/projects/projects.scss";
@import "../javascripts//components/tech/tech.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-image: url("https://bit.ly/3efFoxU");
  background-color: $ice;
  color: $black;
  font-family: 'Roboto Slab';
}

.page-footer {
  font-size: 12pt;
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  background-color: $slate;
}

#projectPage {
  text-align: center;
}

#bioPage {
  margin-top: 25px;
  background-color: $ice;
  text-align: left;
  border-radius: 10px;
}

#technologiesPage {
  margin-top: 25px;
  background-color: $ice;
  border-radius: 10px;
}

#projectsPage {
  margin-top: 25px;
}

.hide {
  display: none;
}

h3 {
  text-decoration: underline;
}
